body{
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

.container{
	width: 100%;
	height: 100%;
	background-image: url("stripes-light.png");
	font-size: 20px;
	color: #FBFEFB;
}

.topbar{
	background-color: #FE5F55;
	padding-bottom: 5px;
	padding-top: 5px;
	height: 40px;
	font-size: 28px;
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 700;
	letter-spacing: 10px;
	border-top: 2px solid #ff463a;
}

.options{
	width: 100%;
	height: 45px;
	padding-bottom: px;
	padding-top: 10px;
	background-color: #424242;
	border-bottom: 2px solid #E5E5E5;
	text-align: center;
}

ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 13px;
}

ol > li {
	display: inline-block;
	margin-right: 55px;
}

ol > li button{
	height: 32px;
	border: 1px solid #E5E5E5;
	width: 170px;
	font-size: 13px;
	background-color: #213131;
	color: #FBFEFB;
	font-family: 'Roboto Mono', monospace;
}
ol > li button:hover {
	background-color: #E5E5E5;
	color: black;
}
ol > li button:focus{
	outline:0;
}

ol > li select{
	height: 32px;
	border: 1px solid #E5E5E5;
	width: 170px;
	font-size: 13px;
	background-color: #213131;
	color: #FBFEFB;
	font-family: 'Roboto Mono', monospace;
}

ol > li select:focus{
	outline:0;
}

ol > li input[type=text]{
	padding: 0;
	padding-left: 2px;
	height: 30px;
	border: 1px solid #E5E5E5;
	width: 170px;
	font-size: 13px;
	background-color: #213131;
	color: #FBFEFB;
	margin-right: 40px;
	font-family: 'Roboto Mono', monospace;
}

ol > li input[type=text]:focus{
	outline:0;
}

ol > li input[type=text]::placeholder{
	color: #E5E5E5;
}

.editor{
	height: calc(100vh - 94px);
	color: #000000;
	width: 60%;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	border-left: 2px solid #E5E5E5;
	border-right: 2px solid #E5E5E5;
}

#textarea, .highlights, #output_div{
	font-size: 14px;
	position: absolute;
	border-radius: 0px;
	overflow: auto;
	border: none;
	font-family: 'Chakra Petch', sans-serif;
	outline: none;
	margin: 75px;
	width:  calc(60% - 150px);
	height: calc(100vh - 234px);
	background-color: transparent;
	z-index: 1500;
}

::selection{
	background: #E5E5E5;
}

#output_div {
	white-space: pre-wrap;
	color: transparent;
	z-index: 500;
}

.highlights {
	width:  calc(60% - 150px);
	height: calc(100vh - 234px);
	white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
}

mark {
	z-index: 1000;
	color: transparent;
	background-color: #FE5F55; /* or whatever */
}

#checkboxes {
	display: none;
	position: absolute;
	border: 1px solid #E5E5E5;
	width: 168px;
	font-size: 9px;
	background-color: #213131;
	color: #FBFEFB;
	z-index: 5000;
}

#checkboxes label {
	display: block;
	text-align: left;
}

#checkboxes label:hover {
	background-color: #E5E5E5;
	color: black;
}

.connected button{
	border-right: none;
	width: 25px;
	margin-right: 0px;
}

.connected button:nth-child(2){
	border-left: none;
}


.connected select{
	border-left: none;
}

.connected input[type=text]{
	border-left: none;
}
