body{
	margin: 0;
}

.container{
	width: 100%;
	height: 100%;
	background-image: url("stripes-light.png");
	font-size: 20px;
	color: #FBFEFB;
}

.topbar{
	background-color: #FE5F55;
	padding-bottom: 5px;
	padding-top: 5px;
	height: 40px;
	font-size: 28px;
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 700;
	letter-spacing: 10px;
	border-top: 2px solid #ff463a;
}

.options{
	width: 100%;
	height: 55px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #424242;
	text-align: center;
	border-bottom: 2px solid #E5E5E5;
}

.editor{
	height: calc(100vh - 94px);
	color: #000000;
	font-family: 'Roboto Mono', monospace;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	border-left: 2px solid #E5E5E5;
	border-right: 2px solid #E5E5E5;
}

::selection{
	background: #E5E5E5;
}

button{
	border: 1px solid #E5E5E5;
	width: 170px;
	font-size: 13px;
	background-color: #213131;
	color: #FBFEFB;
	margin-right: 40px;
	margin-bottom: 10px;

	font-family: 'Roboto Mono', monospace;
}

textarea{
	overflow: auto;
	border: none;
	font-family: 'Chakra Petch', sans-serif;
	outline: none;
	margin: 75px;
	width: calc(100% - 150px);
	height: calc(100% - 159px);
}


.listButton {
	display: inline-block;
}

#checkboxes {
	display: none;
	position: absolute;
	border: 1px solid #E5E5E5;
	width: 148px;
	font-size: 11px;
	background-color: #213131;
	color: #FBFEFB;
	font-family: 'Roboto Mono', monospace;
}

#checkboxes label {
	display: block;
	text-align: left;
}

#checkboxes label:hover {
	background-color: #E5E5E5;
	color: black;
}

